<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GIS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6396CD91F7D5690004F4E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6396CEF1F7D5691004F4E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6396CFA1F7D5691004F4E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
